.main-mobile {
	display: flex;
}

a {
	text-decoration: none !important;
}

.main-desktop {
	display: none;
}

.first-child {
	display: flex;
	flex-direction: column;
}

.personal-information {
	margin-top: 20px;
	margin-bottom: 40px;
}

.perosnal-info {
	color: #667779;
	margin: 20px 20px;
	font-size: 20px;
}

h1 {
	font-size: 50px;
	padding-top: 10px;
	color: black;
	-webkit-text-stroke-color: rgb(125, 113, 113);
	-webkit-text-stroke-width: 3px;
	-webkit-text-fill-color: rgb(255, 255, 255);
}

.second-child {
	text-align: center;
}
.photo-contact {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 250px;
	height: 250px;
	border: solid 5px transparent;
	border-radius: 50%;
	background-image: linear-gradient(white, white),
		linear-gradient(120deg, #87c4e8, #f77e9a);
	background-origin: border-box;
	background-clip: content-box, border-box;
}

.btn-clickMe {
	background-image: linear-gradient(80deg, #94a6af, #ac959b);
	border: none;
	color: white;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
	margin-top: 15px;
	border-radius: 30px;
}

.btn-clickMe:hover {
	cursor: pointer;
	background-image: linear-gradient(-30deg, rgb(125, 113, 113), #667779);
}

@media only screen and (min-width: 768px) {
	.main-mobile {
		display: none;
	}

	.main-desktop {
		display: flex;
		flex-direction: column;
		padding-right: 50px;
		padding-left: 50px;
	}

	.container-information {
		display: flex;
		flex-direction: row;
		margin-top: 30px;
		align-items: center;
	}

	.container-photo {
		padding-left: 10px;
		padding-bottom: 10px;
	}

	.container-aboutme {
		padding-right: 20px;
		padding-bottom: 10px;
	}

	.perosnal-info {
		font-size: 25px;
		color: rgb(125, 113, 113);
	}

	.photo-contact {
		width: 300px;
		height: 300px;
		border-radius: 120px;
	}

	h1 {
		font-size: 50px;
		color: black;
		-webkit-text-stroke-color: rgb(125, 113, 113);
		-webkit-text-stroke-width: 4px;
		-webkit-text-fill-color: rgb(255, 255, 255);
	}

	.personal-information {
		font-size: 35px;
	}

	.btn-clickMe {
		display: inline-block;
		letter-spacing: 6px;
		padding: 25px 20px;
		margin: 30px 20px;
		font-size: 32px;
		position: relative;
		align-self: center;
		transform-origin: left bottom;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
		transition: all 500ms ease-in-out;
		border-radius: 30px;
	}

	.btn-clickMe:hover {
		background-color: white;
		background-size: 90%;
		transform: translate(0.5em, -0.5em);
		box-shadow: -1em 1em 0.15em rgba(16, 24, 50, 0.1);
	}

	.btn-clickMe {
		background-color: #87c4e8;
		background-size: 100%;
		background-image: -moz-linear-gradient(45deg, #87c4e8 0%, #f77e9a 100%);
		background-image: -webkit-linear-gradient(
			45deg,
			#94a6af 0%,
			#f77e9a 100%
		);
		background-image: linear-gradient(45deg, #8ebbd5 0%, #d58799 100%);
		color: white;
		border: 2px solid #8ebbd5;
	}

	.btn-clickMe:hover {
		background: #87c4e8;
		color: #d58799;
	}
}

@media only screen and (min-width: 1100px) {
	.main-mobile {
		display: none;
	}

	.main-desktop {
		display: flex;
		flex-direction: column;
		padding-right: 100px;
		padding-left: 100px;
	}

	.container-information {
		display: flex;
		flex-direction: row;
		margin-top: 35px;
		align-items: center;
	}
	.container-photo {
		padding-left: 20px;
		padding-bottom: 20px;
	}

	.container-aboutme {
		padding-right: 20px;
		padding-bottom: 20px;
	}

	.perosnal-info {
		font-size: 20px;
		color: rgb(125, 113, 113);
	}

	.photo-contact {
		width: 300px;
		height: 300px;
		border-radius: 100px;
	}

	h1 {
		font-size: 40px;
		color: black;
		-webkit-text-stroke-color: rgb(125, 113, 113);
		-webkit-text-stroke-width: 2px;
		-webkit-text-fill-color: rgb(255, 255, 255);
	}

	.personal-information {
		font-size: 28px;
	}
}

@media only screen and (min-width: 1300px) {
	.main-mobile {
		display: none;
	}

	.main-desktop {
		display: flex;
		flex-direction: column;
		padding-right: 150px;
		padding-left: 150px;
	}

	.container-information {
		display: flex;
		flex-direction: row;
		margin-top: 50px;
		align-items: center;
	}

	.container-photo {
		padding-left: 50px;
		padding-bottom: 50px;
	}

	.container-aboutme {
		padding-right: 50px;
		padding-bottom: 50px;
	}

	.perosnal-info {
		font-size: 30px;
		color: rgb(125, 113, 113);
	}

	.photo-contact {
		width: 500px;
		height: 500px;
		border-radius: 100px;
	}

	h1 {
		font-size: 70px;
		color: black;
		-webkit-text-stroke-color: rgb(125, 113, 113);
		-webkit-text-stroke-width: 4px;
		-webkit-text-fill-color: rgb(255, 255, 255);
	}

	.personal-information {
		font-size: 45px;
	}
}
