.contact-container {
	min-height: 68vh;
}
.contact-text {
	color: black;
	-webkit-text-stroke-color: rgb(64, 58, 62);
	-webkit-text-stroke-width: 1px;
	-webkit-text-fill-color: grey;
	text-shadow: 3px 4px #667779;
	font-size: 50px;
	margin-top: 100px;
}

.container-mail {
	margin-top: 100px;
	font-size: 25px;
	color: #667779;
}

.photoLink {
	font-size: 80px;
	color: #0072b1;
}

.photoGit {
	margin-top: 100px;
	font-size: 80px;
	color: #171515;
}

.link {
	border-radius: 20px;
}

.icon-gmail {
	width: 24px;
}

.email {
	color: rgb(125, 113, 113);
	font-size: 27px;
	text-decoration: none;
}

.email:hover {
	color: rgb(125, 113, 113);
	text-decoration: none;
}

.mobileContact {
	display: block;
	font-size: 30px;
}

.desktopContact {
	display: none;
}

.social-box {
	display: none;
}

@media only screen and (min-width: 768px) {
	.mobileContact {
		display: none;
	}

	.social-box {
		height: 200px;
	}

	.desktopContact {
		display: block;
	}

	.photoLink,
	.photoGit {
		margin-top: 100px;
		font-size: 80px;
		color: #a1a0a0;
		transition: 0.6s ease-in-out;
	}

	.photoLink:hover {
		font-size: 90px;
		color: #0072b1;
	}

	.photoGit:hover {
		font-size: 90px;
		color: #171515;
	}

	.email:hover {
		font-size: 35px;
		background: -webkit-linear-gradient(
			45deg,
			#4285f4 0%,
			#bb001b 25%,
			#ea4335 50%,
			#fbbc05 75%,
			#34a853 100%
		);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
